spring:
  datasource:
    url: jdbc:postgresql:18.0:///postgres
    username: postgres
    password: password
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml