spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: password
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml