name: CI

on:
  push:
    branches:
      - master
      - 'feature/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build project and create Docker image
        run: ./gradlew bootBuildImage --imageName=${{ secrets.DOCKER_USERNAME }}/library-app:${{ github.sha }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker image
        run: |
          docker tag ${{ secrets.DOCKER_USERNAME }}/library-app:${{ github.sha }} \
                     ${{ secrets.DOCKER_USERNAME }}/library-app:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/library-app:${{ github.sha }}
          docker push ${{ secrets.DOCKER_USERNAME }}/library-app:latest
